i{
  width:25px;
  height:25px;
  display:inline-block;
}
i.icon-edit-status{background:url("../images/sprite.png");}
i.icon-edit{background:url("../images/sprite.png") 0 -272px;}
i.icon-delete{background:url("../images/sprite.png") 0 -25px;}
i.icon-skype{background:url("../images/sprite.png") 0 -961px;}
i.icon-call{background:url("../images/sprite.png") 0 -931px;}
i.icon-active{background:url("../images/sprite.png") 0 -50px;}
i.icon-inactive{background:url("../images/sprite.png") 0 -78px;}
i.icon-view{background:url("../images/sprite.png") 0 -102px;}
i.icon-arrow-up-white{background:url("../images/sprite.png") 0 -138px;}
i.icon-arrow-down-white{background:url("../images/sprite.png") 0 -120px;}
i.icon-gallery{background:url("../images/sprite.png") 0 -158px;}
i.icon-friend{background:url("../images/sprite.png") 0 -182px;}
i.icon-notification{background:url("../images/sprite.png") 0 -208px;}
i.icon-setting{background:url("../images/sprite.png") 0 -238px;}
i.icon-message{background:url("../images/sprite.png") 0 -297px;}
i.icon-message{background:url("../images/sprite.png") 0 -297px;}
i.icon-upload-video{background:url("../images/sprite.png") 0 -297px;}
i.icon-upload-pic{background:url("../images/sprite.png") 0 -297px;}
i.icon-post{background:url("../images/sprite.png") 0 -297px;}
i.icon-add-friend{background:url("../images/sprite.png") 0 -318px;}
i.icon-unfriend{background:url("../images/sprite.png") 0 -374px;}
i.icon-block{background:url("../images/sprite.png") 0 -343px;}
i.icon-info{background:url("../images/sprite.png") 0 -408px;}
i.icon-map{background:url("../images/sprite.png") 0 -433px;}
