@import "_variable.less";
@import "_icons.less";

// ipad landscpe
@media only screen and (max-device-width : 1024px) {
    .header-container {
        height: 500px;
    }
}
// ipad portrait
@media only screen and (max-device-width : 768px) {
    .container {
        width: 100%;
    }

    .header-container {
        height: 350px;

        h1 {
            margin-top: 20px;
            width: 100%;
        }
    }
    .header {
        .social-icons {
            height: auto;
        }
        .mobile-nav-image {
            display: block;
            height: 30px;
        }
        .nav-menu {
            .nav-menu-list {
                display: none;
                background: @white;
                width: 100%;
                position: relative;
                z-index: 100;
                padding: 10px 0;

                li {
                    width: 100%;
                    margin: 0;
                    text-align: center;
                    padding-bottom: 10px;

                    a {
                        color: @gray6;
                    }
                }
            }
        }
    }

    .features {
        .features-box:first-child, .features-box:last-child {
            padding: 0 10px;
        }
    }

    .site-links {
        display: none;
    }

    .about-us {

        .about-left-panel {
            display: none;
       }

       .about-right-panel {
           width: 100%;
           padding: 0 20px;
       }
    }

    .network-left-panel {
        width: 100%;
    }

    .network-right-panel {
        display: none;
    }
}

// iPhone 6s Plus
@media only screen and (max-device-width : 414px) {
    .header-container {
        height: 250px;

        h1 {
            font-size: 30px;
        }
    }

    .features {
        top: -30px;

        .features-box {
             .feature-talent {
                 h2 {
                     font-size: 38px;
                 }
             }
        }
    }

    .clients {
        article {
            width: 100%;
        }
    }

    .getting-started {
        article {
            width: 100%;
        }
    }

    .talent-header-container {
        h1 {
            font-size: 22px;
        }

        button {
            margin-top: 20px;
        }
    }
    footer {
        padding: 20px 0;
        font-size: 12px;
    }

    .accordian {
        .accordian-head {
            h3 {
                font-size: 18px;
            }

            a {
                right: 10px;
            }
        }
    }
    .talent-resume {
        .container {
            width: 100%;
        }
    }
}

// Small Mobile
@media only screen and (max-device-width : 360px) {
    .header-container {
        height: 250px;

        h1 {
            font-size: 25px;
        }
    }
}
