@import "_variable.less";
@import "_icons.less";

/*Mixins*/
.font-comic{font-family:Comic Sans MS;}
.font-common{font-family:helvetica, arial, sans-serif;}
/*Common CSS*/
*{
    box-sizing:border-box;
}
a{
    text-decoration:none;
    color:@blue1;
  }
body{
  padding:0;
  margin:0;
  font-size:14px;
  background:@bgColor;
  .font-common();
}
article{
  padding:10px 0;
}
ul{
  list-style:none;
  margin:0;
  padding:0;
}
h1,h2,h3,h4,h5,h6{
  margin:0;
  color:@blue1;
}

/*Common Classes*/
.red{
  color:@red1;
}
.fl{
  float:left!important;
}
.fr{
  float:right!important;
}
.container{
    padding-top: 20px;
    width:1024px;
    margin:0 auto;
    margin-bottom:30px;
    height:100%;
}
.inputfield, .selectBox{
  height:25px;
  border:1px solid @grayC;
  width:250px;
  padding:0 10px;
}

.messages_success, .messages_failure {
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 350px;
    background: @white;
    padding: 10px;
    text-align: center;
    color: @blue1;
    border: 1px solid @blue1;
    border-radius: 25px;
    font-weight: bold;
    box-shadow: 0px 0px 10px 2px @grayC;
}

.messages_failure {
    color: @red1;
    border: 1px solid @red1;
}

.inputbutton, button{
  display:inline-block;
  background:@blue1;
  color:@white;
  border:1px solid @blue1;
  padding:0px 15px;
  font-size:16px;
  margin-right:5px;
  cursor:pointer;
  height:25px;
  border-radius:3px;
}
.app_link{
  color:@gray9;
  font-size:16px;
  margin-right:5px;
  text-decoration:none;
  width:auto;
  display:inline-block;
}
.errormessage{
  color:@red1;
  display:none;
  margin-top:5px;
}

/*Success Messages*/
.action_messages{
  position:fixed;
  border:1px solid @gray6;
  padding:10px;
  left:0;
  right:0;
  width:400px;
  text-align:center;
  margin:0 auto;
  top:50px;
  z-index:9999;
  font-weight:bold;
  display:none;
}
.success{
  background:@greenBG;
  color:@green1;
  box-shadow:0px 0px 35px 0px @green1;
}
.failure{
  background:@red1;
  color:@white;
  box-shadow:0px 0px 35px 0px @redBG;
}
/*Header*/
header{
  border-bottom:1px solid @blue1;
  padding:10px;
  height:70px;
  width:100%;
  background: @white;

  .welcome_heading{
    color:#000;
    float:right;
    margin-right:50px;
  }
  .username_text{
    color:@blue1;
  }
}

/*Nav bar*/
ul.navbar{
  padding:10px;
  margin-bottom:40px;
  display:flex;
  justify-content:center;
  width:100%;
  box-shadow:0px 12px 20px -10px @grayC;
  padding-bottom:10px;
  overflow:hidden;
  li{
    padding: 0 15px;
  }
  li.mobile_nav{
    display:none;
  }
  li.dektop_nav{
    display:block;
  }
  .message_count{
    position: absolute;
    background-color: white;
    border: 1px solid @blue1;
    z-index: 10;
    font-size: 10px;
    padding: 3px;
    border-radius: 10px;
    left: -15px;
  }
  a{
    color:@blue1;
    text-decoration:none;
    font-size:18px;
    i{
      position:relative;
      top:8px;
    }
  }
}

/*Footer*/
footer
{
  border-top:1px solid @blue1;
  background:@white;
  padding:5px 0;
  text-align:center;
  color:@blue1;
  position:fixed;
  bottom:0;
  width:100%;
}

/*Login Box*/
.login_box{
  border: 1px solid @gray9;
  width: 300px;
  margin: 0 auto;
  position: relative;
  top: 100px;
  padding: 20px;
  box-shadow:0 8px 6px -6px @grayC;
  background: @white;

  h3{
    color:@blue1;
  }
  label{
    display:inline-block;
    margin:10px 0;
    width:250px;
  }
  .login_button
  {
    padding-top:20px;
  }
  .signup_link, .forgot_password_link{
    color:@blue1;
    font-size:14px;
    margin-right:5px;
    text-decoration:none;
    float:left;
    width:auto;
    margin-left:5px;
  }
}

/*Left side for notification*/
asside{
    width:25%;
    height:100%;
    display: inline-block;
    .left-menu{
        height: auto;
        border:1px solid @blue1;
        padding:5px;
        background:@white;
        z-index:100;
        li{
            width:100%;
            margin:10px 0;
            position: relative;
            //   box-shadow:0px 12px 20px -10px @grayC;
        }
        a{
            color:@blue1;
            display: flex;
            width: 100%l
        }
        span {
            padding-top: 3px;
            position: absolute;
            left: 30px;
        }
    }
}
.content{
  width:73%;
  float:right;
  margin-bottom:50px;
  background: @white;
  padding: 10px;

  /*Dashboard*/
  .update_status{
    li{
      position:relative;
      margin-bottom:40px;
      .action_icon{
        position:absolute;
        top:0;
        right:0;
      }
    }
    textarea{
      resize:none;
      overflow:auto;
      border:1px solid @grayC;
      width:80%;
      height:100px;
      .font-comic();
    }
    .button-div{
      margin:20px 0 10px 0px;
      a{
        margin-right:10px;
        background:@blue1;
        color:@white;
        padding:5px;
        border-radius:5px;
      }
    }
    .post-data {
        .post-title {
            font-size: 18px;
            display: flex;
            color: @gray6;
        }
        .post-time {
            display: flex;
            font-size: 12px;
            color: @gray9;
        }
        .post-desc {
            margin-top: 10px;
            color: @gray6;
        }
        .vid-grid {
            margin-top: 20px;
        }
        .pic-grid {
            display: flex;
            height: 450px;
            margin-top: 10px;

            .left {
                width: 60%;
                display: inline-block;
                img {
                    width: 100%;
                    height: 50%;
                    padding: 1px;
                }
            }

            .right {
                width: 40%;
                display: inline-block;
                img {
                    width: 100%;
                    height: 150px;
                    padding: 1px;
                }
            }
        }
    }
  }
}

@import "_tablet.less";
@import "_mobile.less";
