@import "_variable.less";
@import "_icons.less";

/*Mixins*/
.font-comic{font-family:Comic Sans MS;}
.font-common{font-family:helvetica, arial, sans-serif;}
/*Common CSS*/
*{
  box-sizing:border-box;
}
a{
    text-decoration:none;
    color:@white;

    &:hover {
        color: @grayC;
        text-decoration:none;
    }
  }
body{
  padding:0;
  margin:0;
  font-size:14px;
  background-image: url('../images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  .font-common();
}
ul{
  list-style:none;
  margin:0;
  padding:0;
}

.header-container {
    height: 700px;
    padding-top: 100px;

    h1 {
        color: @white;
        width: 500px;
        text-align: center;
        margin: 0 auto;
        margin-top: 150px;
        font-weight: bold;
    }
}

// Different header BG
.desktop-header-container {background: url('../images/desktop-bg.jpg') no-repeat; background-size: cover;}

.container {
    width: 980px;
    margin: 0 auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    // Social Icons
    .social-icons, .nav-menu {
        height: 40px;
        padding: 10px 0;

        ul {
            float: right;
            line-height: 20px;

            li{
                display: inline-block;
                margin-left: 25px;
            }
        }
    }
    .nav-menu {
        ul {
            li{
                margin-left: 80px;
                font-weight: bold;
                font-size: 16px;
            }
        }
    }

    // Logo and Nav Menu
    .logo-image {
        float: left;
        clear: both;
    }

    .mobile-nav-image {
        float: right;
        display: none;
    }
}
@import "_media.less";
