<?php
	include_once(NAVIGATION_PATH."/header.php");
?>
<div class="header-container about-header-container">
	<div class="container">
		<h1>We are commited to help our customers move forward</h1>
	</div>
</div>
<div class="about-us container">
	<div class="about-left-panel">
		<ul>
			<li><a href="#aboutus" class="active">About Us</a></li>
			<li><a href="#eateamstrategy">EAteam Strategy</a></li>
			<li><a href="javascript:void(0)">Mission Statement</a></li>
			<li><a href="javascript:void(0)">Advantage</a></li>
			<li><a href="javascript:void(0)">Management Team</a></li>
		</ul>
	</div>
	<div class="about-right-panel">
		<h4 id="aboutus">ABOUT US</h4>
		<p>
			EATeam’s mission is to use our extensive IT &amp; Industry experience to deliver tangible business results
			enabling our clients in industry to profit from the advanced use of technology. We strive to build long-term
			client relationships based on mutual trust and respect.

			<ul>
				<li>We always strive and commit to client satisfaction as our utmost important business objective.</li>
				<li>We maintain the highest standards of ethics, integrity, respect, fairness, respect, dedication and that is
our promise.</li>
				<li>We identify and respond aggressively to new opportunities that leads to growth and success</li>
				<li>Quality, Timeliness, Budget and Competitiveness of services are also top priorities.</li>
			</ul>

			EATeam Inc. is an IT Consulting Services and a Systems Integration Company that is committed to help our
			customers move forward in every part of their businesses. The trust and confidence you keep on EATeam
			must never be taken for granted and it is our promise to maintain the integrity at all levels of the
			organization. The principles and core values are an integral part of EATeam conducting business honorably,
			ethically, and with the utmost professionalism that protects the trust and the confidence. Our fundamental
			business goal is to use our proven expertise, industry knowledge and niche technology capabilities to the
			mutual benefit of our customers, partners through understanding, collaboration and also to ensure better,
			fast sustainable and profitable business value and long-term growth. EATeam is committed to delivering
			innovation in new markets, Increase revenues in existing markets keeping our customers ahead of their
			competitors. We at EATeam measure success with the success of our clients. We strongly believe that this
			success is dependent on the way our people conduct themselves at each working day. EATeam has
			solutions for client business problems through the use of advanced software technologies.
		</p>

		<h4 id="eateamstrategy">EATEAM STRATEGY</h4>
		<b>Envisioning Execution Strategies</b>
		<p>
			EATeam crystalizes Strategic Objectives and Enables Business Execution. EATeam partners with leaders in
			client organizations in translating strategy or key strategic initiatives into practical, phased execution cycles.
			We help clients crystallize specific objectives within these phases and lead tactical execution. EATeam
			focuses on the critical interplay between strategy and execution in a challenging and volatile global business
			environment. Outsourcing is not the panacea.<br/><br/>

			Top management needs in today’s environment are extraordinarily challenging wherein EATeam helps
			clients visualize execution life cycles and influences external and internal dynamics during the course of
			projects both large and small. We work with clients to breakdown strategies and strategic objectives into
			near term tactics and measurable results that middle management can lead. EATeam helps clients visualize
			expected change-in organizations, processes and enabling technology landscapes so that leadership is able
			to see the impact before starting a transformational journey.<br/><br/>

			EATeam teams bring structured approaches to factor in external dynamics-market volatility, changing
			priorities, competitive impact and evolving technologies. They not only help set the compass, but also help
			visualize business and operations at the end of the journey. Our clients know what to expect during the
			execution cycle and are fully prepared to deal with external dynamics. That is looking at strategy through the
			lens of execution.

			<b>Enabling Business Execution</b>

			With a decade of experience gained through hundreds of client engagements, research, and critical thinking,
			EATeam has developed a unique perspective and philosophy of business execution. We align with our
			client’s top management thinking and expectations while retaining our independent view as a trusted
			advisor. Using a business execution approach that is more science than art, our teams turn results into
			business realities. Our approach to enabling business execution consists of a series of frameworks that help
			clients translate strategy into execution terms, visualize the execution of one or a portfolio of initiatives that
			comprise that strategy, study and address contingencies that arise from external and internal dynamics, and
			still achieve results envisioned by that strategy.<br/><br/>

			The EATeam approach focuses on the following:

			<ul>
				<li>Anchoring initiatives to top management business objectives and crystal clear measures of success.</li>
				<li>Visualizing and customizing execution life cycles to industry, organization and external-internal influences.</li>
				<li>Combining industry and functional experience and points of view.</li>
				<li>Leveraging global capabilities by utilizing a dynamic execution strategy and model.</li>
				<li>Measuring results through business execution and continuous improvement.</li>
			</ul>

			Our clients find our approach to business execution refreshing and one that challenges their thinking. They
			find it logical and well organized; yet open to challenging the conventional. Our clients agree that it helps
			them control, execute, and achieve results in a carefully planned and predictable manner.
		</p>
	</div>
</div>
<?php
	include_once(NAVIGATION_PATH."/site-links.php");
	include_once(NAVIGATION_PATH."/footer.php");
?>
