<?php 
	include(NAVIGATION_PATH."/header.php");
?>
<div class="container">
  <?php include(NAVIGATION_PATH."/navbar.php");?>
  <?php include(NAVIGATION_PATH."/notification.php");?>
  <div class="content">
    <h3>PAGE INFO</h3>
    <ul>
      <li>&nbsp;</li>
      <li>
        <h4>Start Date</h4>
        <article>Founded on 01 Septamber 2015</article>
      </li>
      <li>
        <h4>Short Description</h4>
        <article>Me Page celebrates how our friends inspire us, support us, and help us discover the world when we connect.</article>
      </li>
      <li>
        <h4>General Information</h4>
        <article>Your ideas and suggestions help us to constantly improve Me’s features. Let us know how we can improve your experience. </article>
      </li>
      <li>
        <h4>Mission</h4>
        <article>To developed an highly compatible application.</article>
      </li>
      <li>
        <h4>Location</h4>
        <br/>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3782.686230274408!2d73.90866055000001!3d18.543076049999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c10db2c35fb9%3A0x5e3e828c472b0014!2sMarigold+complex%2C+Kalyani+Nagar%2C+Pune%2C+Maharashtra!5e0!3m2!1sen!2sin!4v1443507458885" width="80%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </li>
      <li>&nbsp;</li>
    </ul>
    
    
  </div>
</div>
<?php 
	include(NAVIGATION_PATH."/footer.php");
?>
