<?php 
	include(NAVIGATION_PATH."/header.php");
?>
<div class="container">
  <?php include(NAVIGATION_PATH."/navbar.php");?>
  <?php include(NAVIGATION_PATH."/notification.php");?>
  <div class="content">
    <h3>Change Log</h3>
    <ul>
      <li>&nbsp;</li>
      <li>
        <h4>Version 3</h4>
        <p><strong>Javascript</strong></p>
      </li>
      <li>
        <h4>Version 2</h4>
        <p><strong>HTML5</strong></p>
        <p><strong>CSS3</strong></p>
      </li>
      <li>
        <h4>Version 1</h4>
        <p><strong>HTML</strong></p>
        <p><strong>CSS</strong></p>
        <p><strong>LESS</strong></p>
      </li>
    </ul>
  </div>
</div>
<?php 
	include(NAVIGATION_PATH."/footer.php");
?>
