<?php
	include_once(NAVIGATION_PATH."/header.php");
?>
<div class="header-container contact-header-container">
	<div class="container">
		<h1>Let us connect you to the people who can help you best.</h1>
	</div>
</div>
<div class="row contact-us container">
	<div class="col-sm-3">
		<b>CONTACT INFO</b>
		<ul class="contact-left">
			<li>
				<i><?php echo LOCATION; ?></i>
				<span>2 Kilmer Road, Edison Nj 08817</span>
			</li>
			<li>
				<i><?php echo CALL; ?></i>
				<span>732-339-0024</span>
			</li>
			<li>
				<i><?php echo FAX; ?></i>
				<span>732-339-0039</span>
			</li>
			<li>
				<i><?php echo EMAIL; ?></i>
				<span>info@eateam.com</span>
			</li>
		</ul>
		<br>
		<br>
		<b>BUSINESS HOURS</b>
		<ul class="contact-left">
			<li>
				<i><?php echo TIME; ?></i>
				<span>Mon - Fri 8am to 5pm</span>
			</li>
			<li>
				<i><?php echo TIME; ?></i>
				<span>Sat Sun closed</span>
			</li>
		</ul>
	</div>
	<div class="col-sm-9">
		<b>EMAIL US</b>
		<form class="" action="email-controller.php" method="post">
			<div class="field-box">
				<label class="animate" for="name">Name</label>
				<input type="text" id="name" />
			</div>
			<div class="field-box">
				<label class="animate" for="email">Email</label>
				<input type="text" id="email" />
			</div>
			<div class="field-box">
				<label class="animate" for="phone">Phone</label>
				<input type="text" id="phone" />
			</div>
			<div class="field-box">
				<label class="animate" for="subject">Subject</label>
				<input type="text" id="subject" />
			</div>
			<div class="field-box textarea-field">
				<label class="textarea-label" for="message">Message</label>
				<textarea name="message" id="message"></textarea>
			</div>
			<div class="field-box">
				<input type="checkbox" name="robot" value="Y">
				<span>I am not a robot</span>
			</div>

			<button type="submit" name="submit">Send</button>
		</form>
	</div>
</div>

<div id="map"></div>

<script>
function myMap() {
  var myCenter = new google.maps.LatLng(40.5212946,-74.41373709999999);
  var mapCanvas = document.getElementById("map");
  var mapOptions = {center: myCenter, zoom: 15};
  var map = new google.maps.Map(mapCanvas, mapOptions);
  var marker = new google.maps.Marker({position:myCenter});
  marker.setMap(map);

  var infowindow = new google.maps.InfoWindow({
    content: "2 Kilmer Road,<br/> Edison Nj 08817"
  });
  infowindow.open(map,marker);
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDn09F_abphniUnN_vC4WOzR18KVN9iqW0&callback=myMap"></script>

<?php
	include_once(NAVIGATION_PATH."/site-links.php");
	include_once(NAVIGATION_PATH."/footer.php");
?>
