<?php 
	include(NAVIGATION_PATH."/header.php");
?>
<div class="container">
  <?php include(NAVIGATION_PATH."/navbar.php");?>
  <?php include(NAVIGATION_PATH."/notification.php");?>
  <div class="content">
      <ul class="update_status">
        <li>
          <div class="button-div">
            <a href="javascript:void(0)" onclick="return changePostOption('S')">Update Status</a>
            <a href="javascript:void(0)" onclick="return changePostOption('P')">Photo</a>
            <a href="javascript:void(0)" onclick="return changePostOption('V')">Video</a>
          </div>
          <br/>
          <div class="post_div" id="post_div">
            <textarea id="post_text" placeholder="What's on your mind..."></textarea>
            <div class="button-div">
              <a href="">Upload</a>
            </div>
          </div>
          <div class="post_pic" id="post_pic" style="display:none;">
            <input type="file" id="post_pic" name="post_pic"/>
            <textarea id="pic_desc" placeholder="Say something about this photo..."></textarea>
            <div class="button-div">
              <a href="">Upload</a>
            </div>
          </div>
          <div class="post_vdo" id="post_vdo" style="display:none;">
            <input type="file" id="post_vdo" name="post_vdo"/>
            <br/>
            <strong>OR</strong>
            <br/>
            <input type="text" id="youtube_url" name="youtube_url" class="urlbox" placeholder="Copy and paste a Youtube URL..."/>
            <div class="button-div">
              <a href="">Upload</a>
            </div>
          </div>
        </li>
        <li id="post_data_1">
          <div class="user_data">
            <a href=""><img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg"  width="50" height="50"/></a>
            <a href=""><strong>Christian Bale</strong></a>
            <span class="post_time">Mar 20, 2015 3:00 pm</span>
            <span class="action_icon">
              <a href="javascript:void(0)" id="edit_1" onclick="return editPost(this,'1')"><i class="icon-edit-status"></i></a>
              <a href="javascript:void(0)" id="update_1" class="updatepost" lang="1" onclick="return updatePost(this,'1')"><i class="icon-active"></i></a>
              <a href="javascript:void(0)" onclick="return deletePost('1')"><i class="icon-delete"></i></a>
            </span>
          </div>
          <div class="post_data">
            <article id="post_text_1">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                It was popularised in the 1960s with the release of Letraset sheets containing 
                Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of 
                Lorem Ipsum.
            </article>
            <textarea id="post_1" class="editpost">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</textarea>
          </div>
        </li>
        <li id="post_data_2">
          <div class="user_data">
            <a href=""><img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg"  width="50" height="50"/></a>
            <a href=""><strong>Christian Bale</strong></a>
            <span class="post_time">Mar 20, 2015 3:00 pm</span>
            <span class="action_icon">
              <a href="javascript:void(0)" id="edit_image_1" onclick="return editImage(this,'1')"><i class="icon-edit-status"></i></a>
              <a href="javascript:void(0)" id="update_image_1" class="updatepost" lang="1" onclick="return updateImage(this,'1')"><i class="icon-active"></i></a>
              <a href="javascript:void(0)" onclick="return deletePost('2')"><i class="icon-delete"></i></a>
            </span>
          </div>
          <div class="post_data">
            <div class="image_container">              
              <img src="<?php echo POST_IMAGE_HTTP;?>1.jpg" alt="Some Image" />
            </div>
            <div class="edit_image_div" id="edit_image_div_1">  
              <input type="file" id="post_pic" name="post_pic"/>
            </div>
            <span class="image_desc" id="image_desc_1">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</span>            
            <textarea id="image_text_1" class="editpost">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</textarea>
          </div>
        </li>
        <li id="post_data_3">
          <div class="user_data">
            <a href=""><img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg"  width="50" height="50"/></a>
            <a href=""><strong>Christian Bale</strong></a>
            <span class="post_time">Mar 20, 2015 3:00 pm</span>
            <span class="action_icon">
              <a href="javascript:void(0)" id="edit_video_1" onclick="return editVideo(this,'1')"><i class="icon-edit-status"></i></a>
              <a href="javascript:void(0)" id="update_video_1" class="updatepost" lang="1" onclick="return updateVideo(this,'1')"><i class="icon-active"></i></a>
              <a href="javascript:void(0)" onclick="return deletePost('3')"><i class="icon-delete"></i></a>
            </span>
          </div>
          <div class="post_data">
            <div class="image_container">              
              <video height="350" width="100%" controls>
                <source src="<?php echo POST_IMAGE_HTTP;?>small.mp4" type="video/mp4">
              </video>
            </div>
            <div class="edit_video_div" id="edit_video_div_1">            
              <input type="file" id="post_vdo" name="post_vdo"/>
              <br/>
              <strong>OR</strong>
              <br/>
              <input type="text" id="youtube_url" name="youtube_url" class="urlbox" placeholder="Copy and paste a Youtube URL..."/>
            </div> 
            <textarea id="video_text_1" class="editpost" name="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</textarea>
            <span class="video_desc" id="video_desc_1">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</span>            
          </div>
        </li>
        <li id="post_data_4">
          <div class="user_data">
            <a href=""><img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg"  width="50" height="50"/></a>
            <a href=""><strong>Christian Bale</strong></a>
            <span class="post_time">Mar 20, 2015 3:00 pm</span>
            <span class="action_icon">
              <a href="javascript:void(0)" id="edit_video_2" onclick="return editVideo(this,'2')"><i class="icon-edit-status"></i></a>
              <a href="javascript:void(0)" id="update_video_2" class="updatepost" lang="2" onclick="return updateVideo(this,'2')"><i class="icon-active"></i></a>
              <a href="javascript:void(0)" onclick="return deletePost('4')"><i class="icon-delete"></i></a>
            </span>
          </div>
          <div class="post_data">
            <div class="image_container">              
              <iframe width="100%" height="350" src="http://www.youtube.com/embed/XGSy3_Czz8k?autoplay=0"></iframe>
            </div>
            <div class="edit_video_div" id="edit_video_div_2">            
              <input type="file" id="post_vdo" name="post_vdo"/>
              <br/>
              <strong>OR</strong>
              <br/>
              <input type="text" id="youtube_url" name="youtube_url" class="urlbox" placeholder="Copy and paste a Youtube URL..."/>
            </div> 
            <textarea id="video_text_2" class="editpost" name="">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</textarea>
            <span class="video_desc" id="video_desc_2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,</span>            
          </div>
        </li>
      </ul>
  </div>
</div>
<?php 
	include(NAVIGATION_PATH."/footer.php");
?>
