<?php 
	include_once(NAVIGATION_PATH."/header.php");
?>
  <div class="login_box">
    <form id="form_sign_up" method="POST" action="generate_password.php" onsubmit="return validateForm(this)">
      <ul>
        <li>
          <h3>Forgot Password</h3>
        </li>
        <li>
          <label><strong class="red">*</strong> Username:</label>
          <input type="text" class="inputfield required" data-valid="Please enter Username" value="" name="username" id="username">
          <span class="errormessage" id="error_username"></span>
        </li>
        <li>
          <label><strong class="red">*</strong> Question:</label>
          <strong>What is your pet name?</strong>
        </li>
        <li>
          <label><strong class="red">*</strong> Answer:</label>
          <input type="text" class="inputfield required" value=""data-valid="Please enter Answer"  name="answer" id="answer">
          <span class="errormessage" id="error_answer"></span>
        </li>
        <li class="login_button">
          <button type="submit" class="inputbutton" name="submit" id="submit">Change Password</button>
          <a class="app_link" href="<?php echo FOLDER_PATH_HTTP;?>">Back</a>
        </li>
      </ul>
    </form>
  </div>
<?php 
	include(NAVIGATION_PATH."/footer.php");
?>