<?php 
	include_once(NAVIGATION_PATH."/header.php");
?>
  <div class="login_box">
    <form id="form_sign_up" method="POST" action="<?php echo FOLDER_PATH_HTTP;?>" onsubmit="return validateForm(this)">
      <ul>
        <li>
          <h3>Change Password</h3>
        </li>
        <li>
          <label><strong class="red">*</strong> New Password:</label>
          <input type="password" class="inputfield required" data-valid="Please enter New Password" value="" name="new_password" id="new_password">
          <span class="errormessage" id="error_new_password"></span>
        </li>
        <li>
          <label><strong class="red">*</strong> Re-enter Password:</label>
          <input type="password" class="inputfield required" value="" name="re_password" data-valid="Please Re-enter Password" id="re_password">
          <span class="errormessage" id="error_re_password"></span>
        </li>
        <li class="login_button">
          <button type="submit" class="inputbutton" name="submit" id="submit">Update Password</button>
          <a class="app_link" href="<?php echo FOLDER_PATH_HTTP;?>">Back</a>
        </li>
      </ul>
    </form>
  </div>
<?php 
	include(NAVIGATION_PATH."/footer.php");
?>