<?php
	include_once(NAVIGATION_PATH."/header.php");
?>
<div class="showcase">
	<img class="long" src="<?php echo IMAGE_PATH_HTTP.'/09.jpg';?>" alt="">
	<img class="land" src="<?php echo IMAGE_PATH_HTTP.'/04.jpg';?>" alt="">
	<img class="small" src="<?php echo IMAGE_PATH_HTTP.'/05.jpg';?>" alt="">
	<img class="small" src="<?php echo IMAGE_PATH_HTTP.'/10.jpg';?>" alt="">
	<img class="small" src="<?php echo IMAGE_PATH_HTTP.'/11.jpg';?>" alt="">
</div>
<?php
	// include_once(NAVIGATION_PATH."/site-links.php");
	// include_once(NAVIGATION_PATH."/footer.php");
?>
