<?php
	include_once(NAVIGATION_PATH."/header.php");
?>
<div class="header-container desktop-header-container">
	<div class="container">
		<h1>Driven to deliver better solution</h1>
	</div>
</div>
<div class="features container">
	<div class="row">
		<div class="col-sm-4 features-box">
			<div class="feature-content">
				<i class="icon-user"></i>
				<label>Who we are?</label>
				<article><?php echo $dummy;?></article>
				<a href="#">MORE ABOUT US ></a>
			</div>
		</div>
		<div class="col-sm-4 features-box">
			<div class="feature-content">
				<i class="icon-services"></i>
				<label>Services?</label>
				<article><?php echo $dummy;?></article>
				<a href="#">SERVICES OFFERED ></a>
			</div>
		</div>
		<div class="col-sm-4 features-box">
			<div class="feature-content feature-talent">
				<h2>We are always looking for fresh talent</h2>
				<button type="button" name="button">CURREENT OPENINGS ></button>
			</div>
		</div>
	</div>
</div>
<div class="clients clients-bg">
	<div class="container">
		<h3>Who we serve?</h3>
		<article><?php echo $dummy.$dummy.$dummy;?></article>
		<button type="button" name="button">ADD CLIENTS ></button>
	</div>
</div>
<div class="getting-started getting-started-bg">
	<div class="container">
		<h3>Impressed enough?</h3>
		<article><?php echo $dummy?></article>
		<button type="button" name="button">GET STARTED ></button>
	</div>
</div>

<?php
	include_once(NAVIGATION_PATH."/site-links.php");
	include_once(NAVIGATION_PATH."/footer.php");
?>
