<?php 
	include(NAVIGATION_PATH."/header.php");
?>
<div class="container">
  <?php include(NAVIGATION_PATH."/navbar.php");?>
  <?php include(NAVIGATION_PATH."/notification.php");?>
  <div class="content">
      <div class="friends_search_bar">
        <input type="text" placeholder="Search" class="inputfield"/>
      </div>
      <div class="message_list">
        <ul>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="100" height="100"/>
            <a href="profile.php">Bruce Wayn</a>
            <div class="message_icon">
              <a href="<?php echo FOLDER_PATH_HTTP.'message-thread.php';?>"><i class="icon-message"></i></a>
              <a href=""><i class="icon-delete"></i></a>
            </div>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="100" height="100"/>
            <a href="profile.php">Bruce Wayn</a>
            <div class="message_icon">
              <a href="<?php echo FOLDER_PATH_HTTP.'message-thread.php';?>"><i class="icon-message"></i></a>
              <a href=""><i class="icon-delete"></i></a>
            </div>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="100" height="100"/>
            <a href="profile.php">Bruce Wayn</a>
            <div class="message_icon">
              <a href="<?php echo FOLDER_PATH_HTTP.'message-thread.php';?>"><i class="icon-message"></i></a>
              <a href=""><i class="icon-delete"></i></a>
            </div>
          </li>
          <li>
            <img src="<?php echo UPLOAD_PATH_HTTP;?>/1.jpg" width="100" height="100"/>
            <a href="profile.php">Bruce Wayn</a>
            <div class="message_icon">
              <a href="<?php echo FOLDER_PATH_HTTP.'message-thread.php';?>"><i class="icon-message"></i></a>
              <a href=""><i class="icon-delete"></i></a>
            </div>
          </li>
        </ul>
      </div>
    </div>
</div>
<?php 
	include(NAVIGATION_PATH."/footer.php");
?>
