<?php
	include_once(NAVIGATION_PATH."/header.php");
?>
<div class="header-container talent-header-container">
	<div class="container">
		<h1>Ready to find that right job? Why wait?</h1>
		<button type="button" name="button">GET STARTED</button>
	</div>
</div>
<div class="container talent-desc-container">
	<div class="talent-desc">
		Currently we are looking for Software/IT Professional, preferably USA Citizens/Permanent Residents (Green Card holders) with the
		following skill sets for our both in-house IT Software Product Development and on site consulting at our esteem clients. We also process
		H1B Visa for the qualified candidates with good experience.
	</div>
</div>

<div class="container network-container row">
	<div class="network-left-panel col-sm-9">
		<div class="accordian">
			<div class="accordian-head filter_nt">
				<b class="accord-small">Networking</b>
				<h3>NETWORK ENGINEER</h3>
				<div class="small-desc">Edison, New Jersey</div>
				<a href="javascript:void(0)" class="accord-action close_1" dir="1" lang="close"><i><?php echo COLLAPSE;?></i></a>
				<a href="javascript:void(0)" class="accord-action open_1" dir="1" lang="open" style="display:none;"><i><?php echo EXPAND;?></i></a>
			</div>
			<div class="accordian-content panel-1">
				<b>Description</b>
				<p>
					Install new software/hardware and systems for networks. Install, configure and maintain network
services, equipment and devices. Support administration of servers and server clusters. Managel
system back-up and restore protocol. Plan and support network and computing infrastructure.
Perform troubleshooting analysis of servers, workstations and associated systems. Document
network problems and resolution for future reference. Monitor system performance and implement
performance tuning. Manage GIT, SVN code repositories, anti-virus, anti-spam. Primary worksite is
Edison, NJ., but relocation possible.
				</p>
				<b>Requirements</b>
				<p>
					BS degree in Computer Science or related with 6 months exp as Network or Buid Engineer.
Related exp must include managing GIT, SVN code repositories.
				</p>
			</div>

			<div class="accordian-head filter_nt">
				<b class="accord-small">Networking</b>
				<h3>SYSTEMS ANALYST</h3>
				<div class="small-desc">Edison, New Jersey</div>
				<a href="javascript:void(0)" class="accord-action close_2" dir="2" lang="close" style="display:none;"><i><?php echo COLLAPSE;?></i></a>
				<a href="javascript:void(0)" class="accord-action open_2" dir="2" lang="open"><i><?php echo EXPAND;?></i></a>
			</div>
			<div class="accordian-content panel-2" style="display:none;">
				<b>Description</b>
				<p>
					Install new software/hardware and systems for networks. Install, configure and maintain network
services, equipment and devices. Support administration of servers and server clusters. Managel
system back-up and restore protocol. Plan and support network and computing infrastructure.
Perform troubleshooting analysis of servers, workstations and associated systems. Document
network problems and resolution for future reference. Monitor system performance and implement
performance tuning. Manage GIT, SVN code repositories, anti-virus, anti-spam. Primary worksite is
Edison, NJ., but relocation possible.
				</p>
				<b>Requirements</b>
				<p>
					BS degree in Computer Science or related with 6 months exp as Network or Buid Engineer.
Related exp must include managing GIT, SVN code repositories.
				</p>
			</div>

			<div class="accordian-head filter_am">
				<b class="accord-small">Application Maintenance</b>
				<h3>PROGRAMMER ANALYST</h3>
				<div class="small-desc">Edison, New Jersey</div>
				<a href="javascript:void(0)" class="accord-action close_3" dir="3" lang="close" style="display:none;"><i><?php echo COLLAPSE;?></i></a>
				<a href="javascript:void(0)" class="accord-action open_3" dir="3" lang="open"><i><?php echo EXPAND;?></i></a>
			</div>
			<div class="accordian-content panel-3" style="display:none;">
				<b>Description</b>
				<p>
					Install new software/hardware and systems for networks. Install, configure and maintain network
services, equipment and devices. Support administration of servers and server clusters. Managel
system back-up and restore protocol. Plan and support network and computing infrastructure.
Perform troubleshooting analysis of servers, workstations and associated systems. Document
network problems and resolution for future reference. Monitor system performance and implement
performance tuning. Manage GIT, SVN code repositories, anti-virus, anti-spam. Primary worksite is
Edison, NJ., but relocation possible.
				</p>
				<b>Requirements</b>
				<p>
					BS degree in Computer Science or related with 6 months exp as Network or Buid Engineer.
Related exp must include managing GIT, SVN code repositories.
				</p>
			</div>

			<div class="accordian-head filter_am">
				<b class="accord-small">Application Maintenance</b>
				<h3>SOFTWARE ENGINEER</h3>
				<div class="small-desc">Edison, New Jersey</div>
				<a href="javascript:void(0)" class="accord-action close_4" dir="4" lang="close" style="display:none;"><i><?php echo COLLAPSE;?></i></a>
				<a href="javascript:void(0)" class="accord-action open_4" dir="4" lang="open"><i><?php echo EXPAND;?></i></a>
			</div>
			<div class="accordian-content panel-4" style="display:none;">
				<b>Description</b>
				<p>
					Install new software/hardware and systems for networks. Install, configure and maintain network
services, equipment and devices. Support administration of servers and server clusters. Managel
system back-up and restore protocol. Plan and support network and computing infrastructure.
Perform troubleshooting analysis of servers, workstations and associated systems. Document
network problems and resolution for future reference. Monitor system performance and implement
performance tuning. Manage GIT, SVN code repositories, anti-virus, anti-spam. Primary worksite is
Edison, NJ., but relocation possible.
				</p>
				<b>Requirements</b>
				<p>
					BS degree in Computer Science or related with 6 months exp as Network or Buid Engineer.
Related exp must include managing GIT, SVN code repositories.
				</p>
			</div>

			<div class="accordian-head filter_ad">
				<b class="accord-small">Application Development</b>
				<h3>PROGRAMMER ANALYST</h3>
				<div class="small-desc">Edison, New Jersey</div>
				<a href="javascript:void(0)" class="accord-action close_5" dir="5" lang="close" style="display:none;"><i><?php echo COLLAPSE;?></i></a>
				<a href="javascript:void(0)" class="accord-action open_5" dir="5" lang="open"><i><?php echo EXPAND;?></i></a>
			</div>
			<div class="accordian-content panel-5" style="display:none;">
				<b>Description</b>
				<p>
					Install new software/hardware and systems for networks. Install, configure and maintain network
services, equipment and devices. Support administration of servers and server clusters. Managel
system back-up and restore protocol. Plan and support network and computing infrastructure.
Perform troubleshooting analysis of servers, workstations and associated systems. Document
network problems and resolution for future reference. Monitor system performance and implement
performance tuning. Manage GIT, SVN code repositories, anti-virus, anti-spam. Primary worksite is
Edison, NJ., but relocation possible.
				</p>
				<b>Requirements</b>
				<p>
					BS degree in Computer Science or related with 6 months exp as Network or Buid Engineer.
Related exp must include managing GIT, SVN code repositories.
				</p>
			</div>

			<div class="accordian-head filter_ad">
				<b class="accord-small">Application Development</b>
				<h3>SOFTWARE ENGINEER</h3>
				<div class="small-desc">Edison, New Jersey</div>
				<a href="javascript:void(0)" class="accord-action close_6" dir="6" lang="close" style="display:none;"><i><?php echo COLLAPSE;?></i></a>
				<a href="javascript:void(0)" class="accord-action open_6" dir="6" lang="open"><i><?php echo EXPAND;?></i></a>
			</div>
			<div class="accordian-content panel-6" style="display:none;">
				<b>Description</b>
				<p>
					Install new software/hardware and systems for networks. Install, configure and maintain network
services, equipment and devices. Support administration of servers and server clusters. Managel
system back-up and restore protocol. Plan and support network and computing infrastructure.
Perform troubleshooting analysis of servers, workstations and associated systems. Document
network problems and resolution for future reference. Monitor system performance and implement
performance tuning. Manage GIT, SVN code repositories, anti-virus, anti-spam. Primary worksite is
Edison, NJ., but relocation possible.
				</p>
				<b>Requirements</b>
				<p>
					BS degree in Computer Science or related with 6 months exp as Network or Buid Engineer.
Related exp must include managing GIT, SVN code repositories.
				</p>
			</div>

		</div>
	</div>
	<div class="network-right-panel col-sm-3">
		<b class="heading">FILTER</b>
		<div class="right-link">
			<a href="javascript:void(0)" class="fiter-talent" lang="nt">Networking</a>
			<a href="javascript:void(0)" class="fiter-talent" lang="am">Application Maintenance</a>
			<a href="javascript:void(0)" class="fiter-talent" lang="ad">Application Development</a>
		</div>
		<div class="verify">
			<img src="<?php echo IMAGE_PATH_HTTP;?>/verify.png" alt="" />
		</div>
		<p>
			Eateam participates in the
			E-Verify program in certain
			locations, as required
			by law.
		</p>
		<button type="button" name="button">GET VERIFIED ></button>
	</div>
</div>
<div class="getting-started getting-started-bg talent-resume">
	<div class="container">
		<h3>Cant find what your looking for?</h3>
		<article>No worries, just send in your resume and we will get back to you as soon as something is available.</article>
		<button type="button" name="button">SEND RESUME ></button>
	</div>
</div>

<?php
	include_once(NAVIGATION_PATH."/site-links.php");
	include_once(NAVIGATION_PATH."/footer.php");
?>
